<!DOCTYPE html>
<html>
 <meta charset="utf-8">
<head>
    <link rel="stylesheet" href="GALLERY-COMPONENT.css">
</head>
  <body>
   
      <div id="gallery">
      <div class="gallery-container">
      <div class="gallery-title">
         <h1>Image Gallery</h1>
      </div>
          
      <div class="gallery-pictures">
      <div class="gallery-picture-preview">    
      <ul>
        <li><a href="images/feet-hipster-longboard-skateboard.jpg"><img src="images/feet-hipster-longboard-skateboard.jpg" alt="Text" />
            <span>
              <img src="images/feet-hipster-longboard-skateboard.jpg" alt="Text"/> <br />
                Skateboard
            </span>
            </a></li>
          <li><a href="images/pexels-photo-111295.jpeg"><img src="images/pexels-photo-111295.jpeg" alt="art">
              <span>
                <img src="images/pexels-photo-111295.jpeg" alt="art"/> <br />
                Art
              </span>
              </a></li>
          <li><a href="images/pexels-photo-175701.jpeg"><img src="images/pexels-photo-175701.jpeg" alt="cooldude">
              <span>
                <img src="images/pexels-photo-175701.jpeg" alt="cooldude"/> <br />
                Dude
              </span>
              </a></li>
          <li><a href="images/pexels-photo.jpg"><img src="images/pexels-photo.jpg" alt="girl">
              <span>
                <img src="images/pexels-photo.jpg" alt="girl"/> <br />
                Girl
              </span>
              </a></li>
          
      </ul>
      </div>
      </div>
        </div>
        </div>
  </body>