.button1 {
    background-color: #4CAF50;
    border: none;
    padding: 15px 32px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.button1 a{
    color: white;
    text-decoration: none;
}

.button-con{
    text-align: center;
}
