<!DOCTYPE html>
<html>
 <meta charset="utf-8">
<head>
    <link rel="stylesheet" href="DRINKS-COMPONENT.css">
</head>
<body>
    
<div class="drinks">
<div class="drinks-container">
    
<div class="drinks-title">
<h1>Drinks</h1>
</div>
    
<div class="drinks-menu1">
    <ul>
        <li>Drink...............1</li>
        <li>Drink...............3</li>
        <li>Drink...............5</li>
        <li>Drink...............7</li>
    </ul>
</div>
    
<div class="drinks-menu1">
    <ul>
        <li>Drink...............2</li>
        <li>Drink...............4</li>
        <li>Drink...............6</li>
        <li>Drink...............8</li>
    </ul>
</div>
</div>
</div>
    
</body>
</html>
                        