<!DOCTYPE html>
<html>
 <meta charset="utf-8">
<head>
    <link rel="stylesheet" href="DRINKS-COMPONENT.css">
</head>
<body>
<div class="drinks">
<div class="drinks-container">
<div class="drinks-header">
<h1>Drinks page</h1>    
</div>
    
<div class="drinks-menu-container">
<div class="drinks-title">
<h3>Hot Coffee</h3> 
</div>
    
<div class="drinks-menu1">
    <ul>
        <li>
            <span>Drink</span>
            <span>10.50$</span>
        </li>
        <li>
            <span>Drink</span>
            <span>10.50$</span>
        </li>
        <li>
            <span>Drink</span>
            <span>10.50$</span>
        </li>
        <li>
            <span>Drink</span>

            <span>10.50$</span>
        </li>
        <li>
            <span>Drink</span>
            <span>10.50$</span>
        </li>
        <li>
            <span>Drink</span>
            <span>10.50$</span>
        </li>
        <li>
            <span>Drink</span>
            <span>10.50$</span>
        </li>
        <li>
            <span>Drink</span>
            <span>10.50$</span>
        </li>
    </ul>
</div>
</div>
    
<div class="drinks-menu-container">
<div class="drinks-title">
<h3>Cold Coffee</h3> 
</div>
    
<div class="drinks-menu1">
    <ul>
        <li>
            <span>Drink</span>
            <span>10.50$</span>
        </li>
        <li>
            <span>Drink</span>
            <span>10.50$</span>
        </li>
        <li>
            <span>Drink</span>
            <span>10.50$</span>
        </li>
        <li>
            <span>Drink</span>

            <span>10.50$</span>
        </li>
        <li>
            <span>Drink</span>
            <span>10.50$</span>
        </li>
        <li>
            <span>Drink</span>
            <span>10.50$</span>
        </li>
        <li>
            <span>Drink</span>
            <span>10.50$</span>
        </li>
        <li>
            <span>Drink</span>
            <span>10.50$</span>
        </li>
    </ul>
</div>
</div>
    
<div class="drinks-menu-container">
<div class="drinks-title">
<h3>Drinks Menu 1</h3> 
</div>
    
<div class="drinks-menu1">
    <ul>
        <li>
            <span>Drink</span>
            <span>10.50$</span>
        </li>
        <li>
            <span>Drink</span>
            <span>10.50$</span>
        </li>
        <li>
            <span>Drink</span>
            <span>10.50$</span>
        </li>
        <li>
            <span>Drink</span>

            <span>10.50$</span>
        </li>
        <li>
            <span>Drink</span>
            <span>10.50$</span>
        </li>
        <li>
            <span>Drink</span>
            <span>10.50$</span>
        </li>
        <li>
            <span>Drink</span>
            <span>10.50$</span>
        </li>
        <li>
            <span>Drink</span>
            <span>10.50$</span>
        </li>
    </ul>
</div>
</div>
    
<div class="drinks-menu-container">
<div class="drinks-title">
<h3>Drinks Menu 1</h3> 
</div>
    
<div class="drinks-menu1">
    <ul>
        <li>
            <span>Drink</span>
            <span>10.50$</span>
        </li>
        <li>
            <span>Drink</span>
            <span>10.50$</span>
        </li>
        <li>
            <span>Drink</span>
            <span>10.50$</span>
        </li>
        <li>
            <span>Drink</span>

            <span>10.50$</span>
        </li>
        <li>
            <span>Drink</span>
            <span>10.50$</span>
        </li>
        <li>
            <span>Drink</span>
            <span>10.50$</span>
        </li>
        <li>
            <span>Drink</span>
            <span>10.50$</span>
        </li>
        <li>
            <span>Drink</span>
            <span>10.50$</span>
        </li>
    </ul>
</div>
</div>
    
</div>
</div>
</body>
</html>                       