.activities{
    margin: 0 auto;
    max-width: 700px;
    font-family: Arial, Times New Roman, sans-serif;
}
.activities-container{
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: stretch;
  align-content: stretch;
  border: 1px solid black;
}
.activities-title{
  order: 1;
  flex: 1 100%;
  flex-grow: 2;
  padding: 0.625rem;
  background-color: #444444;
  text-align: center;
  color: white;
}

.activities-Current{
      order: 2;
  flex: 1 50%;
  text-align: center;
}

.activities-Upcoming {
  order: 3;
  flex: 1 50%;
  text-align: center;
}

.activities-Upcoming ul{
    list-style-type: none;
    margin: 2px;
    text-align: left;
}

.activities-Upcoming li:hover{
    background-color: grey;
}
